<html>
<head>
    <title>Stalkers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" >
    <script>
        function autoRefresh(t) {
            setTimeout(function f(){
                window.location = '/?is_reload=true';
            } , t);
        }
    </script>
</head>
<body onload="JavaScript:autoRefresh(10000);">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-10 col-md-8">
                <h3>Stalkers</h3>
                <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">MAC Address</th>
                    <th scope="col">Following duration (second)</th>
                    <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stalker in stalkers %}
                    <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ stalker[0] }}</td>
                    <td>{{ stalker[1] }} seconds</td>
                    <td>{{ stalker[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
